<!--<div id="map"></div>-->
<script type="text/javascript">

  // TODO disable options on map e.g. satelite view

  function googleMapsAPICallback() {
    if (navigator.geolocation) {
      var browserSupportFlag = true;
      navigator.geolocation.getCurrentPosition(function(position) {
        var initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        initMap(initialLocation);
      }, function() {
        handleNoGeolocation(browserSupportFlag);
      });
    } else {
      // Browser doesn't support Geolocation
      var browserSupportFlag = false;
      handleNoGeolocation(browserSupportFlag);
    }
  }

  function handleNoGeolocation() {}

  function showNearbyFriends(map){
    var latlng = [{lat: -33.861987, lng: 151.210135}, {lat: -33.861708, lng:151.208753},{lat: -33.862761, lng: 151.208514}]

    latlng.forEach(function(geoloc) {
      var marker = new google.maps.Marker({
        position: {lat: geoloc['lat'], lng: geoloc['lng']},
        animation: google.maps.Animation.DROP,
        map: map
      });

    });
  }

  function initMap(initialLocation){

    var destination = {lat: -33.861317, lng: 151.210820}, // Circular Quay
    map = new google.maps.Map(document.getElementById('nav-page'), {
      disableDefaultUI: true,
      center: initialLocation,
      scrollwheel: false,
      zoom: 7
    }),
    directionsDisplay = new google.maps.DirectionsRenderer({
      map: map
    }),
    request = {
        // Set destination, origin and travel mode.
        destination: destination,
        origin: initialLocation,
        travelMode: google.maps.TravelMode.WALKING
      };

      showNearbyFriends(map);

    // Pass the directions request to the directions service.
    var directionsService = new google.maps.DirectionsService();

    directionsService.route(request, function(response, status) {
      if (status === google.maps.DirectionsStatus.OK) {
        // Display the route on the map.
        directionsDisplay.setDirections(response);
      }
    });
  }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKZ3VotM3P69Zeu0GuZBqbGWGnVhiVIuc&callback=googleMapsAPICallback"></script>
